{% extends 'base.html' %}
{% load i18n %}
{% load humanize %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>
                {% trans 'Orders' %}
            </h1>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>
                            {% trans 'Orders' %}
                        </th>
                        <th>
                            {% trans 'Status' %}
                        </th>
                        <th>
                            {% trans 'Actions' %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for element in list %}
                        <tr>
                            <td>

                                <a href="{% url detail_url_name element.slug %}">{{ element.user }} {{ element.total_value|floatformat:0|intcomma }}</a>

                            </td>
                            <td>
                                {% if not element.status %}
                                    {% trans 'Not payed' %}
                                {% else %}
                                    {{ element.status }}
                                {% endif %}
                            </td>
                            <td>
                                {% if element.payment_token and element.status == delivered_name %}
                                    <a href="{% url refund_url_name element.slug %}">
                                        {% trans 'Refund' %}
                                    </a>
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="actions">
                {% if create_object_reversed_url %}
                    <a href="{{ create_object_reversed_url }}">

                        <button class="btn btn-success">
                            {% trans 'Create' %}
                        </button>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}